{% extends "base.html" %}

{% block title %}
Cadastro Medida Caseira
{% endblock %}

{% block body %}
    <form action="{% url 'cadastro_medida_caseira' %}" method="post" class="d-flex flex-column">{% csrf_token %}

        <div class="d-flex flex-row flex-wrap align-items-end mb-3 gap-3">
            <div class="d-flex flex-column flex-fill">
                <label class="form-label" for="descricao">Medida Caseira</label>
                <input type="text" class="form-control" name="descricao" id="descricao" autofocus required>
            </div>
        </div>

        <hr class="mb-4">

        <div class="d-flex flex-row flex-wrap align-items-end mb-3 gap-3">
            <input type="submit" class="btn btn-primary ms-auto px-4" value="Enviar">
        </div>
        
    </form>

{% endblock %}