{% extends "base.html" %}
{% load static %}
{% load custom_tags %}

{% block title %}
Rótulo
{% endblock %}

{% block body %}
    <div class="bg-white p-3 mt-3 rounded shadow position-relative">
        <div class="d-flex align-items-center">
            <div class="d-flex flex-fill justify-content-center">
                <h1 class="text-center"> {{ item.descricao }} </h1>
            </div>
            <div class="position-absolute end-0 pe-3">
                <a class="btn btn-primary" href="{% url 'cadastro_item' %}" role="button">
                    <i class="bi bi-plus-circle-fill"></i>
                    Criar novo Item
                </a>
            </div>
        </div>
        <hr></hr>
        <h2 class="text-center">Informação Nutricional</h2>
        <p>Porções por embalagem: {{rotulo.quantidade_embalagem}} {% if rotulo.quantidade_embalagem <= 1 %} porção {% else %} porções {% endif %}</p>
        <p>Porção: {{ rotulo.quantidade_porcao | multMil:1000 }}g ({{ rotulo.quantidade_medida_caseira | multMil:1 }} {{ rotulo.medida_caseira.descricao | title }})</p>
        <table class="table table-striped table-hover rounded shadow">
            <thead>
                <tr>
                    <th scope="col" class="p-3"></th>
                    <th scope="col" class="p-3 text-center">100g</th>
                    <th scope="col" class="p-3 text-center">{{ rotulo.quantidade_porcao | multMil:1000 }}g</th>
                    <th scope="col" class="p-3 text-center">%VD*</th>
                </tr>
            </thead>
            <tbody>
                <tr>
                    <td>
                        Valor Energético (kcal)
                    </td>
                    <td class="text-center">
                        {{ rotulo.valor_energetico | qtdPerCent:rotulo.quantidade_porcao | arredRotulo }}
                    </td>
                    <td class="text-center">
                        {{ rotulo.valor_energetico | arredRotulo }}
                    </td>
                    <td class="text-center">
                        {{ rotulo.valor_energetico | vdr:'valor_energetico' }}
                    </td>
                </tr>
                <tr>
                    <td>
                        Carboidrato (g)
                    </td>
                    <td class="text-center">
                        {{ rotulo.carboidrato | qtdPerCent:rotulo.quantidade_porcao | arredRotulo }}
                    </td>
                    <td class="text-center">
                        {{ rotulo.carboidrato | arredRotulo }}
                    </td>
                    <td class="text-center">
                        {{ rotulo.carboidrato | vdr:'carboidrato' }}
                    </td>
                </tr>
                <tr>
                    <td>
                        Açúcar Total (g)
                    </td>
                    <td class="text-center">
                        {{ rotulo.acucar_total | qtdPerCent:rotulo.quantidade_porcao | arredRotulo }}
                    </td>
                    <td class="text-center">
                        {{ rotulo.acucar_total | arredRotulo }}
                    </td>
                    <td class="text-center">
                        -
                    </td>
                </tr>
                <tr>
                    <td>
                        <div class="ms-4">Açúcar Adicionado (g)</div>
                    </td>
                    <td class="text-center">
                        {{ rotulo.acucar_adicionado | qtdPerCent:rotulo.quantidade_porcao | arredRotulo }}
                    </td>
                    <td class="text-center">
                        {{ rotulo.acucar_adicionado | arredRotulo }}
                    </td>
                    <td class="text-center">
                        {{ rotulo.acucar_adicionado | vdr:'acucar_adicionado' }}
                    </td>
                </tr>
                <tr>
                    <td>
                        Proteina (g)
                    </td>
                    <td class="text-center">
                        {{ rotulo.proteina | qtdPerCent:rotulo.quantidade_porcao | arredRotulo }}
                    </td>
                    <td class="text-center">
                        {{ rotulo.proteina | arredRotulo }}
                    </td>
                    <td class="text-center">
                        {{ rotulo.proteina | vdr:'proteina' }}
                    </td>
                </tr>
                <tr>
                    <td>
                        Gordura Total (g)
                    </td>
                    <td class="text-center">
                        {{ rotulo.gordura_total | qtdPerCent:rotulo.quantidade_porcao | arredRotulo }}
                    </td>
                    <td class="text-center">
                        {{ rotulo.gordura_total | arredRotulo }}
                    </td>
                    <td class="text-center">
                        {{ rotulo.gordura_total | vdr:'gordura_total' }}
                    </td>
                </tr>
                <tr>
                    <td>
                        Gordura Saturada (g)
                    </td>
                    <td class="text-center">
                        {{ rotulo.gordura_saturada | qtdPerCent:rotulo.quantidade_porcao | arredRotulo }}
                    </td>
                    <td class="text-center">
                        {{ rotulo.gordura_saturada | arredRotulo }}
                    </td>
                    <td class="text-center">
                        {{ rotulo.gordura_saturada | vdr:'gordura_saturada' }}
                    </td>
                </tr>
                <tr>
                    <td>
                        Gordura Trans (g)
                    </td>
                    <td class="text-center">
                        {{ rotulo.gordura_trans | qtdPerCent:rotulo.quantidade_porcao | arredRotulo }}
                    </td>
                    <td class="text-center">
                        {{ rotulo.gordura_trans | arredRotulo }}
                    </td>
                    <td class="text-center">
                        {{ rotulo.gordura_trans | vdr:'gordura_trans' }}
                    </td>
                </tr>
                <tr>
                    <td>
                        Fibra Alimentar (g)
                    </td>
                    <td class="text-center">
                        {{ rotulo.fibra_alimentar | qtdPerCent:rotulo.quantidade_porcao | arredRotulo }}
                    </td>
                    <td class="text-center">
                        {{ rotulo.fibra_alimentar | arredRotulo }}
                    </td>
                    <td class="text-center">
                        {{ rotulo.fibra_alimentar | vdr:'fibra_alimentar' }}
                    </td>
                </tr>
                <tr>
                    <td>
                        Sódio (mg)
                    </td>
                    <td class="text-center">
                        {{ rotulo.sodio | qtdPerCent:rotulo.quantidade_porcao | arredRotulo:'mg' }}
                    </td>
                    <td class="text-center">
                        {{ rotulo.sodio | arredRotulo:'mg' }}
                    </td>
                    <td class="text-center">
                        {{ rotulo.sodio | vdr:'sodio' }}
                    </td>
                </tr>
            </tbody>
            <tfoot>
                <tr>
                    <td colspan="4" class="text-center p-3">
                        *Percentual de valores diários fornecidos pela porção.
                    </td>
                </tr>
            </tfoot>
        </table>
        {% if rotulo.alto_acucar or rotulo.alto_gordura or rotulo.alto_sodio %}
        <div class="d-flex gap-3">
            <button class="btn btn-lg btn-outline-dark"><i class="bi bi-search pe-2"></i>ALTO EM</button>
            {% if rotulo.alto_acucar %}
            <button class="btn btn-lg btn-dark">ACÚCAR ADICIONADO</button>
            {% endif %}
            {% if rotulo.alto_gordura %}
            <button class="btn btn-lg btn-dark">GORDURA SATURADA</button>
            {% endif %}
            {% if rotulo.alto_sodio %}
            <button class="btn btn-lg btn-dark">SÓDIO</button>
            {% endif %}
        </div>
        {% endif %}
    </div>    
    
{% endblock %}